html {
  font-size: 14px;
  line-height: 16px;
}

:root {
  --color-rock: #B69E31;
  --color-ghost: #70559B;
  --color-steel: #B7B9D0;
  --color-water: #6493EB;
  --color-grass: #74CB48;
  --color-psychic: #FB5584;
  --color-ice: #9AB6DF;
  --color-electric: #F9CF30;
  --color-white: #FFFFFF;
  --color-medium-gray: #666666;
}  

.allCards {
  margin-top: 39rem;
  margin-left: 28.125rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 25rem;  
  border-radius: 12px;

  position: relative;
  background: var(--color-electric);
  padding: 5px;
}

.card__id {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  padding: 24px 14px 0 16px;
}


.card__pokemonImage {
  position: absolute;
  margin: 3.625rem 4.063rem 12rem 5.313rem;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: var(--color-white);
  height: 15rem;
  border-radius: 8px;
  align-items: center;
  gap: 1rem;
  padding: 0 1.25rem 0.25rem 1.25rem;
}

.card__description--type {
  border-radius: 10px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  color: var(--color-white);
  background: var(--color-electric);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 10px;
}

.card__description--titleAbout {
  color: var(--color-electric);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.card__description--contentAbout{
  font-size: 10px;
  text-align: justify;
  line-height: 16px;
}

.innerSpecs {
  display: flex;
  flex-direction: row;
  
}

.typeSpec{
  color: var(--color-medium-gray);
}

.spec {
  display: flex;
  flex-wrap: wrap;
  width: 3rem;
  height: 3rem;
  padding: 0 1.531rem 0 1.531rem;  
}

.valueSpec{
  font-size: 10px;
}

.typeSpec{
  font-size: 8px;
  line-height: 12px;
}

.spec:not(:last-child) {
  border-right: 1px solid grey;
}