@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" );

:root {
  --rock: #B69E31;
  --ghost: #70559B;
  --steel: #B7B9D0;
  --water: #6493EB;
  --grass: #74CB48;
  --psychic: #FB5584;
  --ice: #9AB6DF;
  --electric: #F9CF30;
  --white: #FFFFFF;
}  

.allCards {
  margin-top: 39rem;
  margin-left: 28.125rem;
}

.card {
  width: 18.75rem;
  height: 25rem;
  border-radius: 12px;

  position: relative;
  background: var(--electric);
}

.pokemonImage {
  position: absolute;
  margin: 3.625rem 4.063rem 12rem 5.313rem;
}

.description {
  background: var(--white);
  width: 18.025rem;
  height: 100%;
  margin-top: 7.1875rem;
  margin-bottom: 0.313rem;
  margin-left: 0.313rem;
  border-radius: 8px;
  padding: 3.5rem, 1.25rem, 0, 1.25rem;
  gap: 1rem;
}