@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" );

:root {
  --rock: #B69E31;
  --ghost: #70559B;
  --steel: #B7B9D0;
  --water: #6493EB;
  --grass: #74CB48;
  --psychic: #FB5584;
  --ice: #9AB6DF;
  --electric: #F9CF30;
}  

.container {
  text-align: center;
  margin-top: 20rem;
  background: var(--electric);
  width: 18.75rem;
  height: 25rem;
  top: 39rem;
  left: 28.125rem;
  border-radius: 12px;
}